- puts "pepepepepepepe"
.cabecera
  -if (!juego)
    %form{:action=>"/introducir",:method=>"post"}
      Introduce tu nombre y entra en nuestro Ranking!
      %br
      %input{:type=>"text",:name=>"juego[nombre]",:placeholder=>"Introduce nombre"}
      %input{:type=>"hidden",:name=>"juego[p_ganadas]",:value=>"0"}
      %input{:type=>"hidden",:name=>"juego[jugadas]",:value=>"0"}
      %input{:type=>"submit",:value=>"Enviar"}
      %br
      %br
  -else
    %form{:action=>"/introducir",:method=>"post"}
      Bienvenido, #{juego}!
      %input{:type=>"hidden",:value=>"1",:name=>"logout"}
      %input{:type=>"submit",:value=>"logout"}
      %br
      %br

.gameboard
  - puts "pepepepepepepe"
  - HORIZONTALS.each do |row| 
    .gamerow
      - row.each do |p|
        %a{:href=>"/"}
          %div{:id => "#{p}", :class => "cell #{b[p]}"}
  .message
    %h1= m

.marcador_final
  %a{:href=>"/juego"}
    Mostrar Ranking!
