<div class="gameboard">
  <div class="gamerow">
    <div class="cell" id="a1"></div>
    <div class="cell" id="a2"></div>
    <div class="cell" id="a3"></div>
  </div>
  <div class="gamerow">
    <div class="cell" id="b1"></div>
    <div class="cell" id="b2"></div>
    <div class="cell" id="b3"></div>
  </div>
  <div class="gamerow">
    <div class="cell" id="c1"></div>
    <div class="cell" id="c2"></div>
    <div class="cell" id="c3"></div>
  </div>
</div>
