.volver
	%form{:action=>"/",:method=>"post"}
		%input{:type=>"submit", :value=>"Atrás"}
.message 
	%table
		%tr
			%th Ranking Tres en raya
		%tr
			%th Usuario
			%th Ganadas
			%th Jugadas
		
		- @juego.sort_by {|k, v| v}.reverse.each do |juego|
			%tr
				%td
					#{juego.nombre}
				%td
					#{juego.p_ganadas}
				%td        
					#{juego.jugadas}
