

body       { background-color: darkgray; }
.gameboard { margin-left: 100px; }
.gamerow   { clear: both; }
.cell      { color: red; background-color: white; width: 100px; height: 100px; margin: 10px; padding: 10px; float: left; }
.cross     { background: url("/images/cross.gif") no-repeat; background-size: cover; }
.circle    { background: url("/images/circle.gif") no-repeat; background-size: cover;}

